<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gif.eting"
    android:versionCode="13"
    android:versionName="1.0.9" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.VIBRATE"/>
    
    <permission android:name="com.gif.eting.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.gif.eting.permission.C2D_MESSAGE" />
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17"
        tools:ignore="OldTargetApi" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light.NoActionBar"
        android:hardwareAccelerated="false"
        android:launchMode="singleTask">
        
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        
       <!--  
        android:debuggable="true" -->

        <!-- 인트로화면 -->
        <activity
            android:name="com.gif.eting.act.IntroActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 잠금해제화면 -->
        <activity
            android:name="com.gif.eting.act.LockScreenActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- 메인화면
        windowSoftInputMode="adjustPan" 화면 쪼그라드는거 방지-->
        <activity
            android:name="com.gif.eting.act.MainViewPagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        
            <!-- 
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" 
             -->

        <!-- 내 이야기 읽기 팝업-->
        <activity
            android:name="com.gif.eting.act.ReadMyStoryActivity"
            android:screenOrientation="portrait"
            android:overScrollMode="never"  >
        </activity>

        <!-- 받은 이야기 읽기 팝업 
        windowSoftInputMode="adjustPan" 화면 쪼그라드는거 방지-->
        <activity
            android:name="com.gif.eting.act.ReadInboxActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>

        <!-- 환경설정 -->
        <activity
            android:name="com.gif.eting.act.SettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- 비밀번호관리 -->
        <activity
            android:name="com.gif.eting.act.PasswordResetActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- 이야기 백업 -->
        <activity
            android:name="com.gif.eting.act.ExportEmailActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 만든사람화면 -->
        <activity
            android:name="com.gif.eting.act.CreditActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- 피드백화면 -->
        <activity
            android:name="com.gif.eting.act.FeedbackActivity"
            android:screenOrientation="portrait" >
        </activity>
        
         <!-- 알림메시지 읽기 화면
        windowSoftInputMode="adjustPan" 화면 쪼그라드는거 방지-->
        <activity
            android:name="com.gif.eting.act.ReadAdminMsgActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        
        
        <!-- GCM Setting -->
        <receiver
            android:name="com.gif.eting.svc.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.gif.eting" />
            </intent-filter>
        </receiver>

        <service android:name="com.gif.eting.svc.gcm.GcmIntentService" />
        <activity android:name="com.gif.eting.act.TutorialActivity"></activity>
        <activity android:name="com.gif.eting.act.PasswordActivity"></activity>
        <activity android:name="com.gif.eting.act.PasswordManagementActivity"></activity>
        
</application>

</manifest>